html {
	zoom: 160%;
}

body {
	font-family: sans-serif;
	color: darkslategrey;
	background-image: url('tile.png');
        background-repeat: repeat;
        background-size: auto;
        background-attachment: fixed;
}

div.horizontalmid {
	position: absolute;
	left: 28%;
	width: 44%;
	background-color: white;
}

a {
        margin: 20px;
        color: teal;
	font-weight: bold;
        text-decoration: underline;
        text-decoration-color: teal;
        text-decoration-thickness: 2px;
}

@media (max-width: 768px) {
        div.horizontalmid {
                position: absolute;
                left: 0%;
                width: 100%;
                font-size: 0.9em;
        }
}

h2.jobname {
	margin: 20px;
	text-decoration: underline;
	text-decoration-color: teal;
	text-decoration-thickness: 3px;
}

p {
	margin: 20px;
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

hr {
	border: 1px solid darkslategrey;
	margin: 20px;
}

.EASY {
	color: green;
}

.MID {
	color: orange;
}

.HARD {
	color: red;
}
